.lando
{
   
    justify-content: center;
    margin-left: 25%;

}
.pics
{
justify-content: center;
display: flex;
margin-left: 5%;
margin-left: 5%;
}
.a
{
    margin-left: 5%;
    margin-right: 5%;
}
.b
{
    margin-left: 5%;
    margin-right: 5%;
}
.c
{
    margin-left: 5%;
    margin-right: 5%;
}
.d
{
    margin-left: 5%;
    margin-right: 5%;
}
.e
{
    margin-left: 5%;
    margin-right: 5%;
}
.f
{
    margin-left: 5%;
    margin-right: 5%;
}
.g
{
    margin-left: 5%;
    margin-right: 5%;
}
.h
{
    margin-left: 5%;
    margin-right: 5%;
}
.i
{
    margin-left: 5%;
    margin-right: 5%;
}
.j
{
    margin-left: 5%;
    margin-right: 5%;
}
.sec
{
    margin-top: 5%;
}
.third
{
    margin-top: 5%;
}